@model WebApp.Models.AccountViewModels.EmailConfirmViewModel
@{
    ViewData["Title"] = "이메일 인증 미완료 계정";
}

<div class="wrapper-content">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("EmailConfirm", "Account", FormMethod.Post, new { name = "frm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <h4>이메일 인증이 이루어지지 않은 아이디 입니다. 반드시 실제 사용하는 이메일 주소를 입력 후 전송을 눌러주세요.</h4>
            <hr />
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label star" })
                <div class="col-sm-10">
                    @if (Model.IsEmailChanging)
                    {
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", disabled = false })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", disabled = true })
                    }
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnEmailChange" type="button" value="이메일변경" class="btn btn-warning pull-left" />
                    <a class="btn btn-primary pull-right" href="javascript: submitForm()">전송</a>
                </div>
            </div>
        </div>

    }
</div>

@section scripts{

    <script type="text/javascript">
        $("#btnEmailChange").click(function () {
            var msg = "<p>이메일을 변경하고 인증이 완료 되면 변경된 이메일 주소가 실제 로그인 아이디로 변경 됩니다. 이점 유의 하시기 바랍니다.</p>";
            msg += "<p>인증 받을 이메일 주소를 정말 변경 하시겠습니까?</p>";
            BootstrapDialog.show({
                title: '이메일 아이디 변경',
                message: msg,
                buttons: [{
                    label: '예',
                    cssClass: 'btn-primary',
                    action: function (dialogRef) {
                        $("input[name=Email]").attr("disabled", false);
                        dialogRef.close();
                        $("#Email").focus();
                    }
                }, {
                    label: '아니오',
                    cssClass: 'btn-danger',
                    action: function (dialogRef) {
                        dialogRef.close();
                    }
                }]
            });
        });

        function submitForm() {
            document.getElementById("Email").disabled = false;
            document.frm.submit();
        }
    </script>
}